.wrap {
    display: flex;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: 45px;
    background-color: rgb(51, 51, 51);
    opacity: .95;
    font-family: 'Lato', sans-serif;
}

ul {
    display: none;
}

.menu {
    width: 30px;
    height: auto;
    margin-left: 20px;
}

.logo {
    width: 75px;
    height: auto;
}

.bag {
    width: 30px;
    height: auto;
    margin-right: 20px;
}

.banner {
    width: 100%;
    height: 340px;
    margin-top: 50px;
    background-image: url(img/iphone-the_only_thing_thats_changed_is_everything.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.item {
    width: 100%;
    height: 340px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.special-event {
    background-image: url(img/special-event.jpg);
}

.watch {
    background-image: url(img/watch.jpg);
}

.ipad {
    background-image: url(img/ipad.jpg);
}

.macbook-pro {
    background-image: url(img/macbook-pro.jpg);
    margin-bottom: 20px;
}

.mag-search-icon {
    display: none;
}



