.container {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

.item {
    width: 200px;
    height: 100px;
    margin: 20px;
    background-color: darkgreen;
    text-align: center;
    flex-grow: 1;
}