li {
    width: 100px;
    height: 25px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    float: left;
    background-color: cadetblue;
}

a {
    color: black;
}

p {
    width: 200px;
    height: auto;
    float: right;
    padding: 30px;
    background-color: burlywood;
}