* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 25rem;
}

.first, .second {
    border-bottom: 2px solid grey;
}

.feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 33.33%;
}

i {
    color: grey;
}


