.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: brown;
    flex-grow: 1;
}

h1 {
    text-align: center;
}